/* *{
    margin:0;
    padding:0;
    box-sizing:border-box;
} */

body{
    font-family:Arial, Helvetica, sans-serif;
    padding-top:80px;
}

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#fff;
    border-bottom:1px solid #e5e5e5;
    z-index:1000;
}

.navbar .container{
    width:85%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:80px;
}

.logo a{
    text-decoration:none;
    font-size:32px;
    font-weight:bold;
    color:#000;
}

.logo span{
    color:#555;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:35px;
}

.nav-links li a{
    text-decoration:none;
    color:#000;
    font-size:17px;
    font-weight:500;
    transition:.3s;
}

.nav-links li a:hover{
    color:#777;
}

.btn{
    text-decoration:none;
    background:#000;
    color:#fff;
    padding:12px 24px;
    border-radius:8px;
    transition:.3s;
}

.btn:hover{
    background:#333;
}

@media(max-width:768px){

    .navbar .container{
        width:90%;
        flex-direction:column;
        height:auto;
        padding:20px 0;
    }

    .nav-links{
        margin:20px 0;
        flex-direction:column;
        gap:15px;
        text-align:center;
    }

}










p {
    color: rgb(128, 128, 128, 600);
    margin-inline: auto;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-size: 20px;
}

h2 {
    font-size: 30px;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    ;
}

.section_one {
    width: 100%;
    height: 700px;
    margin: auto;
    overflow: auto;
    padding: 10px 0px;
    box-sizing: border-box;
}

.container {
    width: 70%;
    height: 87%;
    margin-inline: auto;
    /* background-color: tan; */
    overflow: auto;
    padding: 10px;
    /* margin-block: 10px; */
    /* box-sizing: border-box; */
}

.section_one .container .content {
    width: 50%;
    height: 550px;
    margin: auto;
    /* background-color: violet; */
    float: left;
    padding: 0;
}

.image_one {
    width: 50%;
    height: 550px;
    margin-inline: auto;
    margin-top: 10px;
    /* background-color: tomato; */
    float: left;

}

.clear_fix {
    clear: both;
}

h1 {
    padding: 0;
    font-size: 60px;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
}

.we {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 25px;
    background-color: black;
    border-radius: .5rem;
    font-size: 20px;
    float: left;
    margin-right: 10px;
}

.qe {
    color: gray;
    text-align: center;
    text-decoration: none;
    padding: 14px 25px;
    background-color: white;
    border-radius: .5rem;
    font-size: 20px;
    float: left;
}

.image_one img {
    width: 70%;
    /* padding: 30px 20px;*/
    border-radius: 17%;
    padding: 50px 70px;
    overflow: auto;
}

.section_two {
    width: 100%;
    /* height: 1450px; */
    /* background: rgb(28, 125, 125); */
    margin: auto;
    overflow: auto;
    padding: 20px 0px;
    box-sizing: border-box;
}

.tittle {
    width: 100%;
    height: 120px;
    text-align: center;
    /* background-color: brown; */
    margin-inline: auto;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
}

.benefit-card {
    width: 100%;
    height: 520px;
    margin-inline: auto;
    margin-block: 10px;
    background-color: rgb(255, 255, 255);
    overflow: auto;
}

.card {
    width: 25%;
    height: 420px;
    margin: 10px;
    background-color: rgb(219, 234, 254);
    float: left;
    overflow: auto;
    text-align: center;
    padding: 32px;
    border-radius: 1rem;
}

.card.one {
    background-color: rgb(219, 234, 254);
}

.card.two {
    background-color: rgb(209, 250, 229);
}

.card.three {
    background-color: rgb(243, 232, 255);
}

.shape1 {
    width: 65px;
    height: 65px;
    margin-inline: auto;
    margin-block: 70px;
    background-color: rgb(0, 0, 255);
    border-radius: .5rem .5rem .5rem .5rem / .5rem .5rem .5rem .5rem;
    padding: 0px;
    overflow: auto;
}

.shape_1 {
    width: 32px;
    height: 32px;
    margin-inline: auto;
    margin-block: 15px;
    border-radius: .5rem .5rem .5rem .5rem / .5rem .5rem .5rem .5rem;
    background-color: white;
}

.shape2 {
    width: 65px;
    height: 65px;
    margin-inline: auto;
    margin-block: 70px;
    background-color: rgb(60, 170, 60);
    border-radius: .5rem .5rem .5rem .5rem / .5rem .5rem .5rem .5rem;
    padding: 0px;
    overflow: auto;
}

.shape_2 {
    width: 32px;
    height: 32px;
    margin-inline: auto;
    margin-block: 15px;
    border-radius: 50%;
    background-color: white;
}

.shape3 {
    width: 65px;
    height: 65px;
    margin-inline: auto;
    margin-block: 70px;
    background-color: rgb(126, 34, 206);
    border-radius: .5rem .5rem .5rem .5rem / .5rem .5rem .5rem .5rem;
    padding: 0px;
    overflow: auto;
}

.shape_3 {
    width: 32px;
    height: 32px;
    margin-inline: auto;
    margin-block: 15px;
    border-radius: .25rem;
    background-color: white;
}

h3 {
    font-size: 1.25rem;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
}

h3 p {
    text-align: center;
}

.je {
    font-size: 2rem;
}

.border1-1 {
    padding-left: 24px;
    border-left-style: solid;
    border-left-width: 4px;
    border-color: black;
    margin-bottom: 14px;
}

.border1-1 h4 {
    font-size: 1.25rem;
}

.more_benefits {
    width: 98%;
    /* height: 580px; */
    margin-inline: auto;
    /* margin-block: 10px; */
    overflow: auto;
    padding: 10px;
}

.image_two {
    width: 50%;
    height: 100%;
    /* margin-inline: auto; */
    margin-right: 30px;
    margin-block: 10px;
    float: left;
    padding: 0;
}

.image_gym {
    width: 90%;
    height: 550px;
    border-radius: .75rem;
    margin-top:10% ;
}

.content_two {
    width: 40%;
    /* height: 560px; */
    margin-inline: auto;
    margin-block: 10px;
    float: left;
    padding-left: 10px;
    overflow: auto;
}

.section_three {
    width: 100%;
    height: 870px;
    margin: auto;
    overflow: auto;
    padding: 20px 0px;
}

.reviews {
    width: 100%;
    height: 400px;
    margin-inline: auto;
    margin-block: 20px;

}

.cards {
    width: 25%;
    height: 300px;
    margin: 10px;
    float: left;
    overflow: auto;
    text-align: center;
    padding: 32px;
    border-radius: 1rem;
}

.cards.a {
    background-color: rgb(219, 234, 255);
}

.cards.b {
    background-color: rgb(221, 255, 239);
}

.cards.c {
    background-color: rgb(244, 235, 255);
}

.data-first {
    width: 100%;
    height: 100px;
    margin: auto;
    overflow: auto;
}

.image_three {
    width: 25%;
    height: 90%;
    margin: 5px;
    float: left;
}

.person1 {
    width: 100%;
    border-radius: 50%;
}

.content-a {
    width: 65%;
    height: 90%;
    margin: 5px;
    float: left;
}

h4 {
    padding: 0;
    margin: 0;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
}

.data-second {
    width: 100%;
    height: 150px;
}

.statistics {
    width: 98%;
    height: 130px;
    margin-inline: auto;
    margin-block: 10px;
    border-radius: .5rem;
    background-color: rgb(241, 245, 249);

}

.numbers {
    width: 100%;
    text-align: center;
}

.section-four {
    width: 100%;
    height: 1400px;
    margin: auto;
    overflow: auto;
    padding: 20px 0px;
    box-sizing: border-box;

}

.section-four .container .tittle p {
    width: 650px;
}

.main-form {
    width: 100%;
    height: 960px;
    margin-block: 10px;
    overflow: auto;
}

.form-group {
    width: 80%;
    height: 100px;
    margin-inline: auto;
    margin-block: 20px;
    padding: 10px;
}

.first-name {
    width: 50%;
    height: 90px;
    float: left;

}

.last-name {
    width: 50%;
    height: 90px;
    float: left;
}

label {
    font-size: 20px;
    font-weight: medium;
    box-sizing: border-box;
    color: rgb(64, 64, 64);
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
}

input {
    width: 90%;
    height: 40px;
    border-radius: .5rem;
}

.input-email {
    width: 105%;
}

.input-tel {
    width: 105%;
}

select {
    width: 96%;
    height: 40px;
    border-radius: .5rem;
}

.form-groupFitness {
    width: 80%;
    height: 150px;
    margin-inline: auto;
    margin-block: 20px;
    padding: 10px;
}

.input-goals {
    width: 95%;
    height: 100px;
}

.buttonfit {
    box-sizing: border-box;
    width: 70%;
    height: 70px;
    margin-inline: auto;
    margin-block: 20px;
    overflow: auto;
    padding: 16px 32px;
    background-color: black;
    border-radius: .5rem;
    color: white;
    font-weight: 700;
    font-size: 20px;
    display: block;
}

.note {
    text-align: center;
    font-size: 15px;
    box-sizing: border-box;
}

.section-five {
    width: 100%;
    height: 500px;
    background: rgb(17, 24, 39);
    margin: auto;
    overflow: auto;
    padding: 20px 0px;
    box-sizing: border-box;
}

.section-five .container .content {
    width: 100%;
    height: 250px;
    margin: auto;
}

.content-one {
    width: 50%;
    height: 200px;
    box-sizing: border-box;
    float: left;
    margin: 10px;
}

.h-three {
    font-size: 2rem;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    color: white;
    text-align: left;
    box-sizing: border-box;

}

.p-k {
    color: rgb(128, 128, 128, 600);
    margin-inline: auto;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-size: 15px;
}

a {
    text-decoration: none;
    color: rgb(128, 128, 128, 600);
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-size: 13px;

}

.content-two {
    width: 20%;
    height: 200px;
    float: left;
    margin: 10px;
}

.content-one a {
    text-decoration: none;
    color: rgb(128, 128, 128, 600);
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-size: 13px;
}

li {
    margin-bottom: 12px;
    list-style: none;
}

.content-two p {
    font-size: 10px;
}

.content-two h4 {
    color: white;
}
.content-three h5 {
    color: white;
}
.content-three h4 {
    color: white;
}

.ke {

    font-size: 10px;
}


/* SECTION-FOUR */
.section-four {
    width: 100%;
    /* background-color: #f5f3ff; */
    padding-block: 80px;
}

.section-four .container {
    width: 70%;
    margin: auto;
    overflow: auto;
}

.tittle-three {
    margin-bottom: 64px;
}
.prices-1{
    margin-bottom: 16px;
    color: #333;
    font-family: Exo, sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
.prices-2{
        color: rgb(139, 92, 246);
}
.prices-3{
        color: #333;
    font-family: Exo, sans-serif;
    font-size: 20px;
    text-align: center;

}

.productions {
    width: 100%;
    margin-bottom: 48px;
}

.production {
    width: 23%;
    height: 404px;
    padding: 24px;
    border: solid;
    border-width: 2px;
    border-radius: 16px;
    border-color: #ebe6e7;
    float: left;
    background-color: #FFFFFF;
}

.production.four {
    float: right;
    position: relative;
}

.production.four img {
    width: 95%;
    height: 180px;
    margin: auto;
    display: block;
    border-radius: 15px;
    margin-bottom: 24px;
    transition-duration: .15s;
    position: relative;
}

.production.three {
    margin-right: 33.0px;
    position: relative;
}

.production.three img {
    width: 95%;
    height: 180px;
    margin: auto;
    display: block;
    border-radius: 15px;
    margin-bottom: 24px;
    transition-duration: .15s;
}

.production.two {
    margin-right: 50px;
    position: relative;
}

.production.two img {
    width: 95%;
    height: 180px;
    margin: auto;
    display: block;
    border-radius: 15px;
    margin-bottom: 24px;
    transition-duration: .15s;
    position: relative;
}

.production.one {
    margin-right: 50px;
    position: relative;
}

.production.one img {
    width: 95%;
    height: 180px;
    margin: auto;
    display: block;
    border-radius: 15px;
    margin-bottom: 24px;
    transition-duration: .15s;
    position: relative;
}

.production img:hover {
    width: 100%;
    height: 190px;
}

.production.one span {
    position: absolute;
    left: 40px;
    top: 40px;
    padding: 4px 12px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    background-color: #00BBA7;
    border-radius: 3.40282e38px;
}

.production.two span {
    position: absolute;
    left: 40px;
    top: 40px;
    padding: 4px 12px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    background-color: #00C951;
    border-radius: 3.40282e38px;
}

.production.three span {
    position: absolute;
    left: 40px;
    top: 40px;
    padding: 4px 12px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    background-color: #00B8DB;
    border-radius: 3.40282e38px;
}


.productions h3 {
    margin-bottom: 8px;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: Exo, sans-serif;
    color: #333;
}

.productions p {
    color: #333;
    margin-bottom: 16px;
}

.price-production {
    font-weight: 700;
    font-size: 1.5rem;
    font-family: Exo, sans-serif;
    color: #333;
    width: 100%;

}

.price-production button {
    padding: 8px 16px;
    float: right;
    background-color: #8E51FF;
    color: #fff;
    border-radius: 3.40282e38px;
    border-style: none;
    font-family: Exo, sans-serif;
    font-size: 1rem;
}

.hj {
    margin-top: 48px;
}

.hj {
    text-align: center;
}

.hj button {
    padding: 20px 40px;
    color: #7F22FE;
    font-weight: 600;
    font-size: 1.125rem;

    font-family: Exo, sans-serif;
    border: solid;
    border-width: 2px;
    border-color: #7F22FE;
    border-radius: 3.40282e38px;
    background-color: #F7F5FF;
    transition-duration: .2s;

}

.hj button:hover {
    background-color: #7F22FE;
    color: #F7F5FF;
}






/* contact */
.contact{
    width:100%;
    background:#023047;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* .container{
    width:70%;
    display:flex;
    align-items:center;
    gap:50px;
} */

.contact-info{
    width:40%;
    color:#fff;
}

.contact-info h2{
    font-size:2.5rem;
    margin-bottom:20px;
}

.contact-info p{
    color:#d9d9d9;
    line-height:1.7;
    margin-bottom:25px;
}

.contact-item{
    margin-bottom:15px;
}

.contact-item h4{
    color:#ACD8AA;
    margin-bottom:5px;
}

.contact-item span{
    color:#fff;
}

.contact-form{
    width:40%;
    display:flex;
    flex-direction:column;
    gap:15px;

}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:12px 15px;
    border:none;
    border-radius:8px;
    outline:none;
    font-size:16px;
}

.contact-form textarea{
    height:100px;
    resize:none;
}

.contact-form button{
    width:170px;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#ACD8AA;
    color:#023047;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.contact-form button:hover{
    background:#90c991;
}

